<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Brothers">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Brothers.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.frank.solid.TetrahedronActivity"
            android:theme="@style/Theme.Brothers.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.frank.solid.CubeActivity"
            android:theme="@style/Theme.Brothers.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.frank.solid.Cube0Activity"
            android:theme="@style/Theme.Brothers.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.frank.solid.OctahedronActivity"
            android:theme="@style/Theme.Brothers.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.frank.solid.DodecahedronActivity"
            android:theme="@style/Theme.Brothers.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.frank.solid.Dodecahedron0Activity"
            android:theme="@style/Theme.Brothers.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.frank.solid.IcosahedronActivity"
            android:theme="@style/Theme.Brothers.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.frank.solid.EarthActivity"
            android:theme="@style/Theme.Brothers.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.frank.solid.BallActivity"
            android:theme="@style/Theme.Brothers.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.frank.solid.PictCubeActivity"
            android:theme="@style/Theme.Brothers.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.frank.solid.ColorCubeActivity"
            android:theme="@style/Theme.Brothers.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.frank.solid.Pict6CubeActivity"
            android:theme="@style/Theme.Brothers.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.frank.solid.RingActivity"
            android:theme="@style/Theme.Brothers.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.frank.solid.PictureRingActivity"
            android:theme="@style/Theme.Brothers.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.frank.solid.MobiusActivity"
            android:theme="@style/Theme.Brothers.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.frank.solid.BeltActivity"
            android:theme="@style/Theme.Brothers.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>